body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #e06513;
    margin: 10;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 10px;
    <span style="margin-right: 20px;">Mi</span>
    <span style="margin-right: 20px;">Tienda</span>
    <span>En Línea</span>
}

footer {
    background-color: #ffffff;
    color: #e06513;
    padding: 0;
}
